# pip-compile --generate-hashes --reuse-hashes -o requirements.txt requirements.in
fastapi==0.115.12
uvicorn==0.34.2
sqlalchemy[asyncio]==2.0.41
asyncpg==0.30.0
alembic==1.15.2
pydantic==2.11.1
pydantic-settings==2.2.1
